
/*  Horrible idea, creates false sense of lag on values that don't transition well (such as content from empty star to full star)
* {
    transition: all .5s ease-in-out;
}
*/

html,
body {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
}

.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10099;
    top:0;
    left:0;
}

.minfullhgt {
    min-height: calc(100% - 56px);
}

#app {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.opaque {
    background-color: white;
}

.tticon {
    padding: 5px;
    display: inline-block;
    font-size: 1.5rem;
}

.tticon > .far::before {
    color:#8bf;
}

#comments .fas.fa-star::before {
    color: #ea2;
}

.toast {
    min-width: 250px;
    box-shadow: 0 0 15px grey;
}

.toast-body {
    font-size: 1rem;
}

.toast-header {
    font-size: 1rem;
}

.text-white button.close span {
    color: #fff;
}

.container {
    max-width: 1200px;
}


.comments {
    min-width: 360px;
}


.suggestion {
    cursor: pointer;
}

.suggestion img {
    max-height: 50px;
    max-width: 100px;
}

.suggestion b {
    display: inline-block;
    max-height: 50px;
    overflow: hidden;
}

.suggestion:hover {
    text-decoration: underline;
}

.video-container {
    background-color: #000;
    display: flex;
    justify-content: center;
}
.video-container video {
    width: 100%;
}

@media screen and (max-width: 800px) {
    #app_container {
        padding: 0;
        margin: 0;
    }
}

/* DASHBOARD */

#dashboard-container {
    display:flex;
    flex-direction:row;
    height:calc(100% - 56px);
}

#dashboard-leftbar {
    flex:0 0 250px;
    height:100%;
}

#dashboard-leftbar i {
    display:inline-block;
    flex:0 0 50px;
    width:50px;
    text-align:center;
    font-size:24px;
    vertical-align: middle;
}

#dashboard-leftbar * {
    margin:0;
    padding:0;
}

#dashboard-leftbar li {
    padding:15px;
    cursor: pointer;
}
#dashboard-rightbar {
    padding:25px;
    flex:0 0 250px;
    border-left:1px solid #0003;
    height:100%
}

#dashboard-main, #dashboard-rightbar, #dashboard-leftbar {
    overflow-y:auto;
    overflow-x:hidden;
}

#dashboard-leftbar li:hover {
    background-color:#7773;
}

#dashboard-main {
    padding:25px;
    flex:0 1 100%;
}

.content-instance {
    margin: 0 5px 0 5px;
}

.content-instance .img {
    margin:5px 8px 5px;
    width:240px;
    height:150px;
    box-shadow: none;
    transition: margin .25s, width .25s, height .25s, box-shadow .25s;
    background-color:black;
}

.content-instance .img > div {
    height:100%;
}

.content-instance .img button {
    background:none;
    border:none;
}

.content-instance button {
    font-size:24px;
    color: #fff0;
    transition: color .25s, font-size .25s;
}

.content-instance:hover button {
    font-size:32px;
    color: #fff7;
    transition: color .15s, font-size .25s;
}

.content-instance button:hover {
    color: #fff;
}

.content-instance:hover .img {
    margin:0;
    width:256px;
    height:160px;
    box-shadow: 0 10px 25px #000b;
}

@media screen and (max-width: 1366px) {
    .content-instance .img {
        margin:5px 8px 5px;
        width:160px;
        height:100px;
    }

    .content-instance:hover .img {
        width:176px;
        height:110px;
    }
}

.dropzone {
    position:relative;
    border:5px dashed lightgrey;
    display:none;
    width:calc(100% - 50px);
    height:calc(100% - 106px);
    border-radius:15px;
    text-align:center;
    margin:25px;
    padding:25px;
    z-index:11100;
}

#dashboard-content:empty ~ .dropzone {
    display:block;
}

.dropzone *{
    position:relative;
    z-index:11100;
}

progress{
    background:none;
    border:none;
    width:100%;
    height:10px;
    margin:0;
    padding:0;
    position:absolute;
    bottom:0;
}

progress::-moz-progress-bar {
    background-color: #0f0 !important;
    background-image:radial-gradient(circle at 0 0, #03b, #48f);
    margin:0;
    padding:0;
}

progress[value="0"]{
    display:none;
}

.nomouse{
    pointer-events: none;
}

.file-cover {
    background-color:#0000;
}

.highlight ~ .file-cover {
    background-color:#0007;
}

#global-lead {
    min-height:calc(100% - 56px);
    color:white;
}
#global-lead a {
    color: #f80;
}
#global-lead .text-muted {
    color: #fff8!important;
    font-size:12px;
    text-shadow:0 0 25px black;
}

#img-bkg {
    background:url('/i/bkg.jpg');
    background-size:cover;
    border-top:2px solid #004;
    background-attachment:fixed;
    min-height:calc(100vh - 56px);
}

#img-form {
    background-color:#fffa;
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
    max-width:768px;
    border-radius:0 0 25px 25px;
    padding:25px;
    margin-bottom:25px;
}

.light-with-shadow {
    color:white;
    text-shadow: 0 0 0.5rem black;
}

.light-with-shadow a {
    color:white;
    text-decoration: underline;
    text-shadow: 0 0 0.5rem black;
}

.has-button {
    display:inline;
    padding-right: 45px;
}

.has-button ~ button {
    margin-left: -45px;
    border: none;
    background: none;
}

.fl-err-msg {
    border: 3px groove red;
    background-color: #f88;
    background-image: linear-gradient(#d77, #f88);
    color: #411;
    padding: 20px;
    border-radius: 10px;
    font-family: inherit;
}

.fl-cw-modal {
    border-radius: 5px;
}

.fl-cw-nobtn {
    width: 100%;
    height:50px;
    margin: 0px;
    border: none;
    background: none;
    box-shadow: 0 -5px 25px #0003;
    font-size: 14px;
    color: #137;
}

.fl-cw-okbtn {
    width: 100%;
    height:75px;
    margin: 0px;
    border: none;
    background-color: #37f;
    font-size: 24px;
    color: white;
}

.fl-cw-li {
    margin: 25px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5rem;
}

.fl-cw-li small {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
}

.fl-cw-ul {
    display:inline-block;
    padding:0;
    list-style-type: none;
}
